<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="comparatorTest">
        <classes>
            <class name="ComparatorTest"></class>
        </classes>
    </test>
    <test name="varianceTest">
        <parameter name="city" value="Bengaluru"></parameter>
        <classes>
            <class name="VarianceTest"></class>
        </classes>
    </test>
</suite>